@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
:root {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* min-height: 2000vh; */
  background-color: #f8fafc;
}
* {
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */

#topNav a.icon {
  color: #101d33;
  padding: 26px 16px;
}
#topNav {
  overflow: hidden;
  background-color: #24262b;
}

#topNav .icon {
  float: right;
  /* display: none; */
}

#topnav a.active {
  background-color: #04aa6d;
  color: white;
}

#topNav a.icon {
  color: #101d33;
  padding: 26px 16px;
}
#topNav {
  overflow: hidden;
  background-color: #24262b;
}

#topNav .icon {
  float: right;
  /* display: none; */
}

#topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.heading ul {
  margin-top: -1px;
  list-style-type: none;
  background-color: #101d33;
  overflow: hidden;
}

.heading li {
  display: inline-flex;
  text-align: center;
}

.heading li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  font-size: 20px;
}

.heading li a:hover:not(.active) {
  /* color: #ffe626; */
}

.card .back a {
  margin-top: 12px;
  font-size: 22px;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}

.lines {
  border-style: dotted;
  border-width: 1px;
  margin-left: -15px;
  margin-top: 10px;
  width: 669px;
}

.desc h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: -61px;
  margin-left: -20px;
  font-size: 24px;
  line-height: 32px;
}

.card {
  padding: 21px;
}

.desc {
  margin-top: 50px;
  margin-left: 44px;
  padding: 80px 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  width: 50%;
  background-color: #fff;
}

.desc .info {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.desc .info {
  display: flex;
}

.desc .info .tanggal {
  margin-left: -12px;
  margin-top: 7px;
}

.desc .info .kontolS {
  padding-left: 16px;
  margin-top: 7px;
}

.desc .info .koar {
  color: #519259;
  padding-top: 10px;
  font-size: 14px;
}

.desc p {
  margin-left: -15px;
  margin-top: 34px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}

.desc img {
  width: 670px;
  height: 522px;
  display: block;
  margin-left: -15px;
  padding-top: 22px;
}

/* Maps */
.wrapCover h1 {
  padding-top: 124px;
  font-weight: bold;
}

.form .gmaps {
  margin-left: 45px;
  margin-top: 125px;
  display: block;
  height: 100%;
  width: 100px;
}

.form {
  font-family: "Poppins", sans-serif;
}

.wrapCover {
  margin-left: 748px;
  margin-top: -584px;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "Poppins", sans-serif;
  width: 77%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.sending {
  color: white;
  font-size: 16px;
  background-color: #519259;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 23px;
  border: none;
  margin: 8px 0;
}

/* Footer */
.container {
  margin-top: -43px;
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column ul {
  list-style: none;
}
#footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 90px;
}
.column {
  width: 45%;
  padding: 0 15px;
}
.column h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.column ul li:not(:last-child) {
  margin-bottom: 10px;
}
.column ul li {
  font-size: 15px;
  margin-left: -37px;
  /* text-transform: capitalize; */
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.column ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.column .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.column .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.copyright {
  color: #fff;
  margin-top: 122px;
}

/*responsive*/
@media (max-width: 767px) {
  .column {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card .back a {
    margin-top: 12px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  .desc .info .tanggal {
    margin-left: -22px;
    margin-top: 7px;
  }

  .desc .info .kontolS {
    padding-left: 46px;
    margin-top: 7px;
  }

  .desc {
    margin-left: -12px;
    min-width: 107%;
  }

  .desc p {
    font-size: 16px;
    line-height: 24px;
    margin-left: -22px;
  }

  .desc h1 {
    font-size: 18px;
    margin-left: -22px;
  }

  .desc img {
    width: 320px;
    height: 322px;
    margin-left: -25px;
    margin-top: 20px;
  }

  .lines {
    width: 315px;
    margin-left: -22px;
  }

  .googleMaps {
    width: 368%;
    min-height: 140%;
    margin-left: -34px;
    margin-top: -63px;
  }

  .wrapCover {
    margin-top: -44px;
    min-width: 121%;
    margin-left: 14px;
  }
}
